<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="/view/style/index.css">
</head>
<body>

<div class="principal">
    <nav class="navbar navbar-dark bg-dark fixed-top nav justify-content-center">
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Disabled</a>
            </li>
          </ul>
    </nav>  
    <div class="containedor">
        <h2 class="text-center text-primary mt-3 text-dark">TITLE OBJETIVO</h2>
        <p class="item">Lorem ipsum dolor sit amet consectetur adipisicing. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, alias. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique eum corporis fugiat ut voluptatibus eos quisquam itaque aut ab rerum!</p>
        <div class="item">
            <a id="inicio" name="inicio" class="btn btn-primary boton" href="/view/home_user.html">Inicio Usuario</a>
            <a id="admin" name="admin" class="btn btn-primary boton" href="/view/home_admin.html">Inicio Admin</a>     
        </div>
    </div>
</div>
    
</body>
</html>
